venv/
__pycache__/
branch_pushes/
TODO.txt
detection/virtual_cam_test.py
setup/samples
scripts/Screenshot 2025-11-17 201909.png
scripts/Screenshot 2025-11-17 200232.png
scripts/Screenshot 2025-11-17 201550.png
